:root {
    --color-blue: #12a7e4;
    --color-yellow: #fcc454;
}

html, body {
    /* height: 100%; */
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Calibri, 'sans-serif';
    background: linear-gradient(59deg, rgba(18,167,228,1) 0%, rgba(21,169,230,1) 100%); }

#page {
}

#body {
}

h1, h2, h3 {
}

.headline {
}

.button {
    border-radius: 3px;
    background-color: var(--color-yellow);
    padding: .5rem 1rem;
    text-decoration: none;
    color: black;
    color: pointer;
    font-weight: bold;
    margin: auto;
}

.center-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
}

.info::after {
}


.progress-border {
    border-radius: 4px;
    background: #12a7e4;
    box-shadow: inset 8px 8px 16px #1096cd,
                inset -8px -8px 16px #14b8fb;
    width: 30rem;
    padding: .5rem;
}

.progress-inside {
    border-radius: 4px;
    background: #12a7e4;
    box-shadow:  8px 8px 16px #1096cd,
    -8px -8px 16px #14b8fb;
    height: 3rem;
    padding: .5rem;
}

.progress-bar {
    border-radius: 4px;
    background: linear-gradient(59deg, rgba(252,196,84,1) 0%, rgba(255,176,18,1) 57%, rgba(252,196,84,1) 100%);     /* background: #fcc454; */
    box-shadow: 0 0 1rem #999999;
    width: 60%;
    height: 100%;
}