:root {
    --color-blue: #12a7e4;
    --color-yellow: #fcc454;
}

em {
    font-size: 15.6pt;
}

html, body {
    font-family: 'open sans', Calibri;
    font-size: 16.5pt;
    /* width: 100vw; */
    width: 1200px;
    /* padding: 3rem; */
    margin: 0 auto !important;
    padding: 0 !important;
}

#page {
    background-color: white;
    /* box-shadow: #888 0 0 1rem; */
    /* min-height: 100vh */
}

#body {
    margin: auto;
    padding: 0 5rem;
    /* width: 33rem; */
}

h1, h2, h3 {
    text-align: center;
    font-family: 'source sans pro';
}

h1 {
    font-size: 56pt;
}

h2 {
    font-size: 27pt;
}

.header {
    background-color: var(--color-blue);
    padding: 2rem;
    color: white;
    /* line-height: .7em; */
}

.header h1,
.header h2 {
    margin: 0;
}

section {
    margin: 4rem 0;
}

section h2 {
    color: var(--color-blue);
}

section li {
    margin-top: .7rem;
}

.button {
    display: inline-block;
    position: relative;
    margin: 1rem;
    border-radius: 3px;
    background-color: var(--color-yellow);
    padding: .5rem 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.align-center {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.progressbar {
    height: 3rem;
    width: 80%;
    background-color: gray;
    border: 1px solid black;
}

.progressbar .progress {
    width: 50%;
    height: 100%;
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.progressbar-goal {
    margin: .5rem;
}


.our-imgs {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
}

.our-imgs img {
    width: 5rem;
    height: auto;
    margin: 0 .2rem;
    border-radius: 5px;
}

.our-imgs img:nth-child(odd) {
    margin-top: 1rem;
}

.our-imgs img:nth-child(even) {
    margin-bottom: 1rem;
}


#section1 h2 {
    text-align: left;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-blue);
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 1rem;
}

@media screen and (max-width: 1200px) {
    html, body {
        width: 100vw;
    }
    
    #body {
        padding: 0 1rem;
    }

    .row {
        flex-wrap: wrap;
    }

    .our-imgs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}